{% extends 'base.html.twig' %}

{% block title %}Changer mot de passe{% endblock %}
{% block title_header %}Changer mot de passe{% endblock %}

{% block body %}
    <div class="col-md-4">
        {{ form_start(form) }}
        {{ form_widget(form) }}

        <button type="submit" class="btn btn-primary">
            <i class="fas fa-lock"></i> Changer mot de passe
        </button>
        {{ form_end(form) }}
    </div>
{% endblock %}
